/*
body {
    background-color: lightgray;
}

h1 {
    color: aquamarine;
}

p {
    color: lightgray
}
*/
.navbar-brand {
    color: green;
}
.navbar-brand:hover {
    color: gold;
}

.nav-link {
    color: green;
}
.nav-link:hover {
    color: gold;
}

.sort-btn {
    padding: 5px 20px 5px 20px !important;
    border-radius: 32px;
    border: 1px solid lightgray;
    background-color: white;
    color: black;
}

.sort-btn.active {
    border: 1px solid gray;
    background-color: lightgray;
    color: black;
}

.sort-btn:hover {
    border: 1px solid gray;
    background-color: lightgray;
    color: black;
}



/*
.btn-primary {
    border: 1px solid black;
    background-color: green !important;
    color: white;
}
.btn-primary:hover {
    border: 1px solid black;
    background-color: gold !important;
    color: white;
}
*/

/*
.btn-c {
    color: black;
    font-weight: 700;
    border-radius: 32px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    border: 3px solid gray;
}


.btn-c:hover {
    background-color: aquamarine;
    border: 3px solid white;
    color: black;
}


.dark-link {
    text-decoration: none;
    color: aquamarine;
}
.dark-link:hover {
    text-decoration: underline;
    color: gold;
}
*/